
# Your openai api key. (required)
OPENAI_API_KEY=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

# Access passsword, separated by comma. (optional)
CODE=ZcFdu6eeQ3BQi1NL,Lo5wW7QhJtQ4x2Z1,Et69tRWAPtu4Sw4h,3nuR2nUY5PfbnCSz,RcuLKp7XQcgMQ6VF,se4NqXIS8dqRKJFQ,B1QSsCKyDIb78crf,KDlqGMLyGH2dOlgg,paSd9aJ4xnvw7eyS,a60Ns2tb6ZryQLvZ


# You can start service behind a proxy
PROXY_URL=http://localhost:7890

# Override openai api request base url. (optional)
# Default: https://api.openai.com
# Examples: http://your-openai-proxy.com
BASE_URL=

# Specify OpenAI organization ID.(optional)
# Default: Empty
OPENAI_ORG_ID=

# (optional)
# Default: Empty
# If you do not want users to use GPT-4, set this value to 1.
DISABLE_GPT4=

# (optional)
# Default: Empty
# If you do not want users to input their own API key, set this value to 1.
HIDE_USER_API_KEY=

# (optional)
# Default: Empty
# If you do want users to query balance, set this value to 1.
ENABLE_BALANCE_QUERY=

# (optional)
# Default: Empty
# If you want to disable parse settings from url, set this value to 1.
DISABLE_FAST_LINK=
